body {
    font-family: 'Arial', sans-serif;
    background-color: #ffebee;
    color: #d32f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b71c1c;
}

.hidden {
    display: none;
}

#gifContainer {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

#responseMessage {
    font-size: 1.5em;
    margin-top: 20px;
    color: #388e3c;
}